<div class='form-check my-2'>
  <input
    class='form-check-input'
    type='checkbox'
    name='check'
  />
  {{#with this}}
    <label class='form-check-label'>
      {{value}}
    </label>
  {{/with}}
</div>