{{#each cards}}
    <div class="col-3">
        <div class="card text-bg-secondary">
            <div class="card-header">
                {{title}}    
                {{#if isNew}}<span class=" badge rounded-pill text-bg-success">Нова</span>{{/if}}
                {{#if isTop}}<span class="badge rounded-pill text-bg-danger">Топ</span>{{/if}}
            </div>
            <div class="card-body">
                {{description}}
            </div>
        </div>
    </div>
{{/each}}