<div class="my-5 card text-bg-success text-center">
    <h2 class="pt-2">{{title}}</h2>
    <p>{{description}}</p>
    {{#each buttons}}
    <div><a href="{{tlink}}" class="btn btn-primary mb-2">{{text}}</a></div>
    {{/each}}
</div>